{% extends "index.html" %}
{% load static %}

{% block content %}
    <!-- ======= About Section ======= -->
    {% include 'about.html' %}

    <!-- ======= Why Us Section ======= -->
    {% include 'why_us.html' %}

    <!-- ======= Stats Counter Section ======= -->
    {% include 'stats_counter.html' %}

    <!-- ======= Menu Section ======= -->
    {% include 'menu.html' %}

    <!-- ======= Testimonials Section ======= -->
    {% include 'testimonials.html' %}

    <!-- ======= Events Section ======= -->
    {% include 'events.html' %}

    <!-- ======= Chefs Section ======= -->
    {% include 'chefs.html' %}

    <!-- ======= Book A Table Section ======= -->
    {% include 'reservation.html' %}

    <!-- ======= Gallery Section ======= -->
    {% include 'gallery.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}
{% endblock %}
